<!DOCTYPE HTML>
<html>
<html lang="eng">
<head>
	<meta http-equiv="Content-Type" name="Noah White - PhD student at the University of Edinburgh." content="text/html; charset=utf-8"/>
	<!-- The 'name' attribute is what will be displayed under the title in search results (i.e. the two black lines of text in Google search results). -->
	<title>Noah White - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/~noahwhite/css/normalize.css" media="screen">	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/~noahwhite/css/style.css">

	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

	<!-- mathjax config similar to math.stackexchange -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
	    inlineMath: [ ['$', '$'] ],
	    displayMath: [ ['$$', '$$']],
	    processEscapes: true,
	    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
	  },
	  messageStyle: "none",
	  "HTML-CSS": { 
	  scale: 90,
      preferredFont: "TeX", 
      availableFonts: ["STIX","TeX"], 
      styles: {".MathJax": {color: "#4D4D4D"}} 
      }
	});
	</script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

	<!-- allows for responsive design on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale =1.0, user-scalable = no">
</head>

<body class="clearfix">
		<header>
			<img src="/~noahwhite/images/noah2_retina.jpg" alt="Noah White portrait">
			<h1>Noah White</h1>
			<p>PhD student at the<br>University of Edinburgh</p>
		</header>
		
	<nav>
		<ul>
            {% assign pages = site.pages | sort:"weight" %}
			{% for p in pages %}
			{% if p.title == 'Overview' %}
			<li><a href="/~noahwhite">{{ p.title }}</a></li>
			{% else %}
			<li><a href="/~noahwhite/{{ p.short-title }}">{{ p.title }}</a></li>
			{% endif %}
			{% if p.title == page.title %}
			<li>
				<ul>
					{% for post in site.posts reversed %}
					{% if post.pg == page.title %}
					<li><a href="#{{ post.short_title }}">{{ post.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<!-- <ul> -->
		<!-- 	<li><a href="https://github.com/noaham"><img src="/~noahwhite/images/github.png" alt="github" width=14 style="opacity:0.65;padding-right:6px"></img>github</a></li> -->
		<!-- 	<li><a href="http://mathoverflow.net/users/48296/noah-white"><img src="/~noahwhite/images/mo.png" alt="mathoverflow" width=14 style="opacity:0.65;padding-right:6px"></img>mathoverflow</a></li> -->
		<!-- </ul> -->		
	</nav>


	<div>
		{{ content }}
	</div><!-- main posts div -->
</body>

<!--
jQuery for hiding the header & fixing the nav once scrolled a certain amount:
http://stackoverflow.com/questions/13250325/show-hide-div-on-scroll 

JavaScript for enabling/disabling this at breakpoints:
http://stackoverflow.com/questions/21113413/responding-to-window-resize-with-javascript-jquery/
-->
<script>
$(document).ready(function(){
    var $window = $(window);

    $window.on('resize', function () {
        windowsize = $window.width();

        if (windowsize > 1119) 
        {
            $window.scroll(function() {
                if ($(this).scrollTop()>119)
                {
                    $('header').fadeOut();
                    $('nav').css({position: 'fixed', top: '0px'});
                }
                else
                {
                    $('header').fadeIn();
                    $('nav').css({position: 'absolute', top: 'auto'});
                }
            }).scroll();
        }
        else 
        {
            $('nav').css({position: 'static', top: '0px'});
            $('header').fadeIn();
            $window.off('scroll');
        }
    }).resize();

});
</script>

<!-- javascript for smooth scrolling to page anchors http://css-tricks.com/snippets/jquery/smooth-scrolling/ -->
<script>
	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 250); //speed in milliseconds
	        return false;
	      }
	    }
	  });
	});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47813713-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
